#main-content {
  clear: both;
  background-color: white;
}

a {
  color: #007bbf;
  text-decoration: none;
}

body, html {
  background-color: #ECEEEF;
}

.box {
  padding: 10px;
  margin: 0;
  background-color: white;
}

.dark {
  color: #40bf00;
}

.lowride {
  margin-bottom: 0;
  padding-bottom: 0;
}

.downcase {
  text-transform: lowercase;
}

.invisible {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

input,
textarea,
input[type="text"] {
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  color: #031a28;
  margin-top: 0;
}

.label-with-errors {
  color: #F00;
}

.field-with-errors input,
.field-with-errors textarea {
  border: 1px solid #e3aaaa;
  background-color: #f9e9e9;
}

.pagination {
  padding: 10px 0 15px 0;
  margin: 3px 3px 3px 0;
  margin-top: 20px;
  clear: both;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px 4px 2px 0;
  border: 1px solid #df721b;
  text-decoration: none;
  color: #df721b;
}
.pagination a:hover {
  color: #ef9c59;
  border: 1px solid #ef9c59;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px 4px 2px 0;
  border: 1px solid #df721b;
  font-weight: bold;
  color: #fff;
  background-color: #df721b;
}
.pagination span.disabled {
  display: none;
}
