
%h2 Users

%table
  %tr
    %th
    %th Rating
    - if current_user
      %th Odds against
  - for user in @users
    %tr
      %td= h user.name
      %td= user.rating
      - if current_user
        %td= "#{(current_user.expected_score_against(user) * 100).to_s[0..4]}%" unless current_user == user