- single_column do
  
  - if current_user and current_user != @user
    .float-right
      = button "Record a Victory against #{h(@user.name)}", :type => :positive, :link_to => games_path(:game => {:winner_id => current_user.id, :loser_id => @user.id}), :method => :create, :confirm => "Are you sure you want to record a victory against #{h(@user.name)}?"
  
  %h1= @page_title = h(@user.name)

  .clear